.inner-hospital{
    width: 100%;
}
.btn-encontrar{
    height: 35px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin: 10px auto;
    width: 95%;
    font-weight: 700;
    background-color: #0B2676;
    border: none;
    color: white;
    box-shadow: 1px 2px 3px grey;
}
.btn-encontrar a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.legenda-hospital{
    font-size: 0.6rem;
}
.btn-encontrar button{
    width: 15rem;
    align-items: center;
    height: 30px;
    margin: 0 auto;
    background-color: #0B2676;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.foto-hospital{
    text-align: center;
}

@media (min-width: 768px) {
    .foto-hospital img{
        width: 55%;
    }
}