/* Conteudo.css */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.home {
    font-family: "Jost", sans-serif;
}

.bem-vindo {
    display: flex;
    flex-wrap: wrap;
}

.vitality, .img-bem-vindo {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding: 10px;
    height: 70vmin;
    width: 70vmin;
}

img, .img-bem-vindo {
    padding-left: 10%;
    margin-top: -5%;
}

#texto-bemvindo1 {
    font-size: 30pt;
    font-weight: bold;
}

#texto-bemvindo2 {
    font-size: 17pt;
}

.vitality {
    padding-left: 10%;
}

.obj {
    width: 425px;
    height: 45px;
    background-color: #0B2676;
    cursor: pointer;
    border: none;
    font-size: 15pt;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 6px grey;
}
.obj a{
    color: white;
    text-decoration: none;
}
.obj:hover{
    background-color: #0b1a4e ;
}

.explore, .desejamos {
    flex: 1 1 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.explore {
    font-size: 30pt;
    font-weight: bold;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

#registre, #gere, #hospitais {
    width: 250px;
    height: 200px;
    margin: 15px; 
    background-color: rgb(255, 255, 255); 
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.caixa p {
    text-align: center;
    font-size: 15pt;
    font-weight: lighter;
}

.explore img {
    align-items:center ;
    margin-right: 10px;
}

.texto-final-ex {
    font-size: 16pt;
    font-weight: 300;
    width: 90vmax;
    padding-left:3%;
}

.oque-desejamos {
    font-size: 30pt;
    text-align: left;
    padding-left:5%;
    margin-top: 5%;
}

.desejamos {
    margin-top: 5%;
    width: 870px;
    height: 250px;
    margin-left: 21%;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
    align-items: center;
    display: flex; 
    justify-content: center;
}

.texto-desejamos {
    width: 250px;
    height: 90px;
    font-size: 16pt;
    text-align:auto;
    margin: 10px;
}

#linha-vertical {
    height: 200px;
    border-right: 1px solid #A6A6A6;
}
.img-bem-vindo2{
   display: none;
}
    .rodape{
    font-family: "Inter", sans-serif;
    display: flex;
    margin-top: 50px;
    background-color: #fff;
    justify-content: center;
    list-style: none;
    width: 99.8%;
    padding: 0;
  }

@media (max-width:800px) {
    *{
        background-color: white;
    }
}
@media only screen and (max-width: 600px) {
    *{
        background-color: white;
    }
    .img-bem-vindo {
        display: none; /* Para ocultar a imagem no responsivo móvel */
    }
    .home {
        width: 100%;
    }
    
    .bem-vindo {
        flex-direction: column;
        align-items: center;
    }

    .vitality, .img-bem-vindo {
        width: 100%;
        flex: 1 1 auto;
        padding: 5px;
        height: auto;
    }
    .texto-bemvindo{
        margin: 0 auto;
    }

    #texto-bemvindo1 {
        font-size: 25pt; 
        text-align: center;
    }

    #texto-bemvindo2 {
        font-size: 17pt; 
        width: 350px;
        margin: auto;
    }

    .obj {
        width: 90%;
        margin-left: 5%;
        cursor: pointer;
    }
    button .obj{
        margin-left: auto;
        margin-left: auto;
    }
    .obj a{
        background-color: #0B2676;
    }
    .oque-desejamos{
        font-size: 16pt;
        text-align: center;
    }
    .texto-final-ex{
        font-size: 12pt;
        width: 340px;
        text-align: justify;
    }
    .explore {
        width: 100%;
        padding: 5px;
        flex-direction: column;
    }
    .desejamos{
        flex-direction: column;
        height:350px;
        padding: 10%;
    }
    .linha-horizontal {
        width: 300px;
        border: 1px solid #A6A6A6;
        }
    .caixa img{
        margin-top: 5%;
    }

    .explore {
        font-size: 25pt;
    }

    #registre, #gere, #hospitais {
        width: 90%;
        height: auto;
    }

    .desejamos {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .texto-desejamos {
        width: 100%;
        max-width: 250px;
        margin:10px;
        font-size: 10pt; 
    }
    .img-bem-vindo2{
        width: 100px;
        height: auto;
    }
    #linha-vertical {
        height: 1px;
        border-right: 1px solid #A6A6A6;
    }
}
